/* #2e922b #47A02C #A7CC1B #95B87D */
.button.is-green {
  background-color: #2e922b;
  border-color: transparent;
  color: #fff
}

.button.is-green.is-hovered,
.button.is-green:hover {
  background-color: #47A02C;
  border-color: transparent;
  color: #fff
}

.button.is-green.is-focused,
.button.is-green:focus {
  border-color: transparent;
  color: #fff
}

.button.is-green.is-focused:not(:active),
.button.is-green:focus:not(:active) {
  box-shadow: 0 0 0 .125em rgba(50, 220, 78, 0.25)
}

.button.is-green.is-active,
.button.is-green:active {
  background-color: #47A02C;
  border-color: transparent;
  color: #fff
}

.button.is-green[disabled],
fieldset[disabled] .button.is-green {
  background-color: #2e922b;
  border-color: transparent;
  box-shadow: none
}

.button.is-green.is-inverted {
  background-color: #fff;
  color: #2e922b
}

.button.is-green.is-inverted.is-hovered,
.button.is-green.is-inverted:hover {
  background-color: #f2f2f2
}

.button.is-green.is-inverted[disabled],
fieldset[disabled] .button.is-green.is-inverted {
  background-color: #fff;
  border-color: transparent;
  box-shadow: none;
  color: #2e922b
}

.button.is-green.is-loading::after {
  border-color: transparent transparent #fff #fff !important
}

.button.is-green.is-outlined {
  background-color: transparent;
  border-color: #2e922b;
  color: #2e922b
}

.button.is-green.is-outlined.is-focused,
.button.is-green.is-outlined.is-hovered,
.button.is-green.is-outlined:focus,
.button.is-green.is-outlined:hover {
  background-color: #2e922b;
  border-color: #2e922b;
  color: #fff
}

.button.is-green.is-outlined.is-loading::after {
  border-color: transparent transparent #2e922b #2e922b !important
}

.button.is-green.is-outlined.is-loading.is-focused::after,
.button.is-green.is-outlined.is-loading.is-hovered::after,
.button.is-green.is-outlined.is-loading:focus::after,
.button.is-green.is-outlined.is-loading:hover::after {
  border-color: transparent transparent #fff #fff !important
}

.button.is-green.is-outlined[disabled],
fieldset[disabled] .button.is-green.is-outlined {
  background-color: transparent;
  border-color: #2e922b;
  box-shadow: none;
  color: #2e922b
}

.button.is-green.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  color: #fff
}

.button.is-green.is-inverted.is-outlined.is-focused,
.button.is-green.is-inverted.is-outlined.is-hovered,
.button.is-green.is-inverted.is-outlined:focus,
.button.is-green.is-inverted.is-outlined:hover {
  background-color: #fff;
  color: #2e922b
}

.button.is-green.is-inverted.is-outlined.is-loading.is-focused::after,
.button.is-green.is-inverted.is-outlined.is-loading.is-hovered::after,
.button.is-green.is-inverted.is-outlined.is-loading:focus::after,
.button.is-green.is-inverted.is-outlined.is-loading:hover::after {
  border-color: transparent transparent #2e922b #2e922b !important
}

.button.is-green.is-inverted.is-outlined[disabled],
fieldset[disabled] .button.is-green.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  box-shadow: none;
  color: #fff
}

.button.is-green.is-light {
  background-color: #FBFCFA ;
  color: #95B87D 
}

.button.is-green.is-light.is-hovered,
.button.is-green.is-light:hover {
  background-color: #e3ecfa;
  border-color: transparent;
  color: #95B87D 
}

.button.is-green.is-light.is-active,
.button.is-green.is-light:active {
  background-color: #d8e4f8;
  border-color: transparent;
  color: #95B87D 
}

.notification.is-green {
  background-color: #2e922b;
  color: #fff
}


.progress.is-green::-webkit-progress-value {
  background-color: #2e922b
}

.progress.is-green::-moz-progress-bar {
  background-color: #2e922b
}

.progress.is-green::-ms-fill {
  background-color: #2e922b
}

.progress.is-green:indeterminate {
  background-image: linear-gradient(to right, #2e922b 30%, #ededed 30%)
}

.table td.is-green,
.table th.is-green {
  background-color: #2e922b;
  border-color: #2e922b;
  color: #fff
}

.tag:not(body).is-green {
  background-color: #2e922b;
  color: #fff
}

.tag:not(body).is-green.is-light {
  background-color: #FBFCFA ;
  color: #95B87D 
}

.is-green.input,
.is-green.textarea {
  border-color: #2e922b
}

.is-green.input:active,
.is-green.input:focus,
.is-green.is-active.input,
.is-green.is-active.textarea,
.is-green.is-focused.input,
.is-green.is-focused.textarea,
.is-green.textarea:active,
.is-green.textarea:focus {
  box-shadow: 0 0 0 .125em rgba(50, 220, 75, .25)
}

.select.is-green:not(:hover)::after {
  border-color: #2e922b
}

.select.is-green select {
  border-color: #2e922b
}

.select.is-green select.is-hovered,
.select.is-green select:hover {
  border-color: #47A02C
}

.select.is-green select.is-active,
.select.is-green select.is-focused,
.select.is-green select:active,
.select.is-green select:focus {
  box-shadow: 0 0 0 .125em rgba(50, 220, 75, .25)
}

.file.is-green .file-cta {
  background-color: #2e922b;
  border-color: transparent;
  color: #fff
}

.file.is-green.is-hovered .file-cta,
.file.is-green:hover .file-cta {
  background-color: #47A02C;
  border-color: transparent;
  color: #fff
}

.file.is-green.is-focused .file-cta,
.file.is-green:focus .file-cta {
  border-color: transparent;
  box-shadow: 0 0 .5em rgba(50, 220, 75, .25);
  color: #fff
}

.file.is-green.is-active .file-cta,
.file.is-green:active .file-cta {
  background-color: #47A02C;
  border-color: transparent;
  color: #fff
}
.help.is-green {
  color: #2e922b
}

.message.is-green {
  background-color: #f6f6f6; 
}

.message.is-green .message-header {
  background-color: #2e922b;
  color: #fff;
  padding: 3px 12px;
  font-weight: nomal;
}

.message.is-green .message-body {
  border-color: #2e922b;
  color: #333; 
}

.navbar.is-green {
  background-color: #2e922b;
  color: #fff
}

.navbar.is-green .navbar-brand .navbar-link,
.navbar.is-green .navbar-brand>.navbar-item {
  color: #fff
}

.navbar.is-green .navbar-brand .navbar-link.is-active,
.navbar.is-green .navbar-brand .navbar-link:focus,
.navbar.is-green .navbar-brand .navbar-link:hover,
.navbar.is-green .navbar-brand>a.navbar-item.is-active,
.navbar.is-green .navbar-brand>a.navbar-item:focus,
.navbar.is-green .navbar-brand>a.navbar-item:hover {
  background-color: #47A02C;
  color: #fff
}

.navbar.is-green .navbar-brand .navbar-link::after {
  border-color: #fff
}

.navbar.is-green .navbar-burger {
  color: #fff
}

@media screen and (min-width: 1024px) {

  .navbar.is-green .navbar-end .navbar-link,
  .navbar.is-green .navbar-end>.navbar-item,
  .navbar.is-green .navbar-start .navbar-link,
  .navbar.is-green .navbar-start>.navbar-item {
    color: #fff
  }

  .navbar.is-green .navbar-end .navbar-link.is-active,
  .navbar.is-green .navbar-end .navbar-link:focus,
  .navbar.is-green .navbar-end .navbar-link:hover,
  .navbar.is-green .navbar-end>a.navbar-item.is-active,
  .navbar.is-green .navbar-end>a.navbar-item:focus,
  .navbar.is-green .navbar-end>a.navbar-item:hover,
  .navbar.is-green .navbar-start .navbar-link.is-active,
  .navbar.is-green .navbar-start .navbar-link:focus,
  .navbar.is-green .navbar-start .navbar-link:hover,
  .navbar.is-green .navbar-start>a.navbar-item.is-active,
  .navbar.is-green .navbar-start>a.navbar-item:focus,
  .navbar.is-green .navbar-start>a.navbar-item:hover {
    background-color: #47A02C;
    color: #fff
  }

  .navbar.is-green .navbar-end .navbar-link::after,
  .navbar.is-green .navbar-start .navbar-link::after {
    border-color: #fff
  }

  .navbar.is-green .navbar-item.has-dropdown.is-active .navbar-link,
  .navbar.is-green .navbar-item.has-dropdown:focus .navbar-link,
  .navbar.is-green .navbar-item.has-dropdown:hover .navbar-link {
    background-color: #47A02C;
    color: #fff
  }

  .navbar.is-green .navbar-dropdown a.navbar-item.is-active {
    background-color: #2e922b;
    color: #fff
  }
}

.panel.is-green .panel-heading {
  background-color: #2e922b;
  color: #fff
}

.panel.is-green .panel-tabs a.is-active {
  border-bottom-color: #2e922b
}

.panel.is-green .panel-block.is-active .panel-icon {
  color: #2e922b
}

.hero.is-green {
  background-color: #2e922b;
  color: #fff
}

.hero.is-green a:not(.button):not(.dropdown-item):not(.tag):not(.pagination-link.is-current),
.hero.is-green strong {
  color: inherit
}

.hero.is-green .title {
  color: #fff
}

.hero.is-green .subtitle {
  color: rgba(255, 255, 255, .9)
}

.hero.is-green .subtitle a:not(.button),
.hero.is-green .subtitle strong {
  color: #fff
}

@media screen and (max-width: 1023px) {
  .hero.is-green .navbar-menu {
    background-color: #2e922b
  }
}

.hero.is-green .navbar-item,
.hero.is-green .navbar-link {
  color: rgba(255, 255, 255, .7)
}

.hero.is-green .navbar-link.is-active,
.hero.is-green .navbar-link:hover,
.hero.is-green a.navbar-item.is-active,
.hero.is-green a.navbar-item:hover {
  background-color: #47A02C;
  color: #fff
}

.hero.is-green .tabs a {
  color: #fff;
  opacity: .9
}

.hero.is-green .tabs a:hover {
  opacity: 1
}

.hero.is-green .tabs li.is-active a {
  opacity: 1
}

.hero.is-green .tabs.is-boxed a,
.hero.is-green .tabs.is-toggle a {
  color: #fff
}

.hero.is-green .tabs.is-boxed a:hover,
.hero.is-green .tabs.is-toggle a:hover {
  background-color: rgba(10, 10, 10, .1)
}

.hero.is-green .tabs.is-boxed li.is-active a,
.hero.is-green .tabs.is-boxed li.is-active a:hover,
.hero.is-green .tabs.is-toggle li.is-active a,
.hero.is-green .tabs.is-toggle li.is-active a:hover {
  background-color: #fff;
  border-color: #fff;
  color: #2e922b
}

.hero.is-green.is-bold {
  background-image: linear-gradient(141deg, #1577c6 0, #2e922b 71%, #4366e5 100%)
}

@media screen and (max-width: 768px) {
  .hero.is-green.is-bold .navbar-menu {
    background-image: linear-gradient(141deg, #1577c6 0, #2e922b 71%, #4366e5 100%)
  }
}
