<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="stylesheet" href="css/bulma.min.css">
  <link rel="stylesheet" href="css/all.min.css">
  <link rel="stylesheet" href="css/google.fonts.css">
  <link rel="stylesheet" href="css/green.css">
  <link rel="stylesheet" href="css/css.css">
  <!--<script src="js/vue.min.js"></script>-->
  <script src="js/vue.dev.js"></script>
  <script src="js/unzip.min.js"></script>
  <script src="js/component.js"></script>
  <script src="js/main.js"></script>
  <title>SREC_Viewer</title>
</head>

<body>
  <div id="app">
    <div class="dropstarter" @dragover.prevent="dragover" :style="scaleTxt">
      <div class="header columns">
        <div class="column is-narrow">
          <img src="css/logo.png">
        </div>
        <div class="column is-2">
          <div class="file is-green">
            <label class="file-label">
              <input class="file-input" type="file" @change="openFile" accept=".xml,.csv,.shai,.shci" multiple>
              <span class="file-cta">
                <span class="file-icon"><i class="far fa-folder-open"></i></span>
                <span class="file-label">{{language.openFile}}</span>
              </span>
            </label>
          </div>
        </div>
        <div class="column">
          <!--
          <button type="button" class="button is-green" :class="{'is-light': langType!=='ja'}" @click="langType='ja'">Japanese</button>
          <button type="button" class="button is-green" :class="{'is-light': langType!=='en'}" @click="langType='en'" disabled>English</button>
          <button type="button" class="button is-green" :class="{'is-light': langType!=='zh'}" @click="langType='zh'" disabled>Chinese</button>
          -->
          <button type="button" class="button is-green" title="縮小" @click="scaleUp"><i class="fas fa-angle-double-left"></i></button>
          <button type="button" class="button is-green" title="100%" @click="scaleEqual"><i class="fas fa-equals"></i></button>
          <button type="button" class="button is-green" title="拡大" @click="scaleDown"><i class="fas fa-angle-double-right"></i></button>
        </div>
        <div class="column is-narrow">
          <button type="button" class="button is-green" @click="isShowOption=true">
            <span class="icon"><i class="fas fa-wrench"></i></span>
            <span>オプション</span>
          </button>
          <button type="button" class="button is-green" @click="isShowHelp=true">
            <span class="icon"><i class="fas fa-question"></i></span>
            <span>ヘルプ</span>
          </button>
        </div>
      </div>
      <div class="viewarea columns">
        <tabs v-if="tabLeft.list.length" :class="{half: tabRight.list.length}" :target="tabLeft" :moveto="tabRight" :language="language"></tabs>
        <tabs v-if="tabRight.list.length" :class="{half: tabLeft.list.length}" :target="tabRight" :moveTo="tabLeft" :language="language"></tabs>
      </div>
      <err-msg :o="err"></err-msg>
      <option-dlg :o="options" v-if="isShowOption"></option-dlg>
      <Help-dlg v-if="isShowHelp"></Help-dlg>
      <div class="droper" v-show="isShowDroper" @dragleave.prevent="dragleave" @drop.prevent="ondrop">
        <div class="notification is-success">ドロップしてください</div>
      </div>
    </div>
  </div>
</body>

</html>